<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

<!--    <bean id="beanUser" class="com.example.smallwhite.entity.BeanUser">-->
<!--        <property name="id" value="1"></property>-->
<!--        <property name="beanUsers" ref="beanUsers"></property>-->
<!--    </bean>-->
    <bean id="book" class="com.example.smallwhite.spring.entity.Book">
       <property name="bookName" value="三国演义"/>
    </bean>
    <bean id="book2" class="com.example.smallwhite.spring.entity.Book2">
        <property name="name" value="三国演义"/>
    </bean>

</beans>